body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
  }
  
  h2 {
    color: #444;
  }
  
  img {
    max-width: 15%;
    height:auto;
    border-radius: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project img {
    width: 25%;
    max-width: 200px;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: #fff;
  }
  